.App {
  padding-left: 15px;
  color: lightcyan;
}

.sidebar-container {
  text-align: left;
}

.sidebar-container ul {
  list-style: none;
}

.player {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  width: 15pc;
  text-align: center;
  align-items: center;
  background-color: black;
  border-radius: 11px;
  color: azure;
}